[project]
	description = Test for v850
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/danielcabraham
[access "refs/for/refs/*"]
	read = group user/danielcabraham
	push = group user/danielcabraham
	label-Code-Review = -2..+2 group user/danielcabraham
	label-Verified = -1..+1 group user/danielcabraham
	rebase = group user/danielcabraham
	removeReviewer = group user/danielcabraham
	submit = group user/danielcabraham
[access "refs/heads/*"]
	read = group user/danielcabraham
	create = group user/danielcabraham
	push = +force group user/danielcabraham
	pushMerge = group user/danielcabraham
[access "refs/tags/*"]
	push = group user/danielcabraham
	push = +force group user/danielcabraham
