#- Start of Flash-Config
#- Enable Progress Output on the screen
/progress

#- Set the used Port in format /dev/ttyS4,1000000,E,8,1\n");
/com=/dev/ttyS4,115200,E,8,1

#- Set the used DNL-File e.g. /etc/master.dnl
/dnl=/var/firmware/master.dnl

#- Set log-file path using one of the method
#/log=<log directory>-------------------> to write logs to <log directory>/LogFile.txt
#/log=<log directory>/<file-name>.txt --> to write logs to <log directory>/xyz.txt
#If .txt suffix is not provided, then log argument will be treated as log directory
/log=/var/log/v850_logfile.txt

#- Set the used port for Reset-pin
/gpio_res=216

#- Set the used port for DNL-Enable-pin
/gpio_vpp=224

#- Do an update flash of the DNL-file content
/u
#Temporary RPM Config
#- End of Flash-Config
